<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".cropper.ImageCropperActivity"
            android:exported="true"
            android:theme="@style/Theme.WeUI" />
    </application>
</manifest>